#content {
    padding: clamp(8px, 2%, 10px) clamp(10px, 3%, 20px);
}

p {
    font-size: 1.05rem;
    text-align: left;
}

#btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}
