main {
    padding: 2% 0 0 3%;
}

#btn-div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: min(90%, 400px);
}

button {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    width: 100%;
}

a {
    width: 100%;
}

p {
    font-size: clamp(1.1rem, 2.5vw, 1.5rem);
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    margin: 4% 0 2% 0;
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    max-width: min(90%, 400px);
    padding: var(--space-md);
    justify-content: center;
    align-items: center;
    text-align: center;
}
