:root{
    --main-bg-color: #1C1C1C;
    --alt-bg-color: #2E2E2E;
    --subtle-border-color: #4A4A4A;
    --hover-color: #008C9E;
    --accent-color: #FF6F00;
    --text-color: #A8A8A8;
    --heading-color: #F4F4F2; 
}

body{
    background-color: var(--alt-bg-color);
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

*{
    color: var(--heading-color);
}

main{
    padding-left: 25px;
    padding-top: 20px;
}

.subtitle{
    width: fit-content;
    border-bottom: solid 2px var(--heading-color);
}

p, li{
    color: var(--text-color);
    font-size: 1.05rem;
    text-align: left;
}

details summary{
    font-size: 1.2rem;
}

details {
    background-color: var(--main-bg-color);
    border-radius: 4px;
    box-shadow: 3px 3px 5px var(--accent-color);
    width: 75%;
    margin: 1.5% 0 1% 0;
    padding: 5px 20px 5px 20px;
}

details summary{
    color: var(--accent-color);
}

details:hover summary{
    color: var(--hover-color);
}

details[open], details:hover {
    box-shadow: 3px 3px 5px var(--hover-color);
    color: var(--hover-color);
}

details[open] summary{
    color: var(--hover-color);
}