.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-md);
    background-color: var(--alt-bg-color);
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 80vw;
    gap: var(--space-md);
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    background: var(--alt-bg-color);
}

.carousel::-webkit-scrollbar {
    display: none;
}

.card {
    min-width: 80vw;
    max-width: 80vw;
    height: clamp(280px, 60vh, 500px);
    background: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    scroll-snap-align: center;
    border: solid 3px var(--accent-color);
}

.card p {
    font-size: 1.1rem;
}

.card a {
    color: var(--accent-color);
    font-size: 1.1rem;
}

.card h3 {
    font-size: 1.5rem;
}

.button-div {
    width: fit-content;
}

button {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    margin: 0 var(--space-lg) var(--space-lg) var(--space-xs);
}
